<%-include ('../partials/header.ejs') %> 

<div class="container-fluid align-content-center">
    <div class="row">
        <div class="container col-md-4 col-sm-12 mb-3">
            <div class="card shadow rounded">
                <div class="card-body">
                    <form action="/clientes/update/<%= data.id %>" method="post">
                        <div class="container">
                            <h2 class="text-center font-weight-bold">Actualizar cliente</h2>
                            <div class="p-2">
                                <label for="" class="text-muted">Nombre de cliente</label>
                                <input type="text" class="form-control" required name="nombre" placeholder="Nombre"  value="<%= data.nombre %>">
                            </div>
                            <div class="p-2">
                                <label class="text-muted" for="">Tipo de cliente</label>
                                <select type="text" class="form-control" required name="tipo" placeholder="Tipo de cliente" value="<%= data.tipo %>">
                                    <option value="Agencia">Agencia</option>
                                    <option value="Cliente directo">Cliente directo</option>
                                </select>
                            </div>
                            <div class="p-2">
                                <label class="text-muted" for="">Contacto</label>
                                <input type="text" class="form-control"  name="contacto" placeholder="Contacto" value="<%= data.contacto %>">
                            </div>
                            <div class="p-2">
                                <label class="text-muted" for="">RUC de cliente</label>
                                <input type="text" class="form-control" name="ruc" placeholder="RUC " value="<%= data.ruc %>">
                            </div>
                            <div class="p-2">
                                <label class="text-muted" for="">Telefono de cliente</label>
                                <input type="text" class="form-control" name="telefono" placeholder="Telefono " value="<%= data.telefono %>">
                            </div>
                            <div class="p-2">
                                <label class="text-muted" for="">Correo de cliente</label>
                                <input type="text" class="form-control" name="correo" placeholder="Correo " value="<%= data.correo %>">
                            </div>
                            <div class="p-2">
                                <label class="text-muted" for="">Direccion de cliente</label>
                                <textarea type="text" class="form-control" name="direccion" placeholder="Direccion " ><%= data.direccion %></textarea>
                            </div>
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-6 py-2" id="test">
                                        <button type="submit" class="btn btn-primary btn-block">Actualizar cliente</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="container">
                <h1>Cotizaciones realizadas por <span class="font-weight-bold"> <%= data.nombre %></span> </h1>
                    <table class="table ">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Total</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                            <% for( let i = 0; i < data2.length; i++ ) { %>
                            <tr>
                                <th><%= data2[i].id %></th>
                                <td><%= data2[i].fecha.toUTCString().split('GMT')[0] %></td>
                                <td><%= data2[i].total %></td>
                                <td><a href="/cotizacion/<%= data2[i].id %>" class="btn btn-info">Ver</a></td>    
                            </tr>
                              <% } %>
                        </tbody>
                      </table>
            </div>
        </div>
    </div>
</div>

<%-include ('../partials/footer.ejs') %> 
