<%-include ('../partials/header.ejs') %> 
<% if (message.length > 0) { %>
    <div class="alert alert-success" role="alert">
        <%= message %> 
    </div>
<% } %>
<div class="container-fluid align-content-center">
    <div class="row">
        <div class="container col-md-4 col-sm-12 mb-4">
            <div class="card shadow rounded">
                <div class="card-body">
                    <section class="border-bottom py-2">
                        <h1 class="p-1 text-center font-weight-bold">Detalle </h1>
                        <h5 class="">Para cotizacion No.<%= id_cotizacion %> </h5>
                    </section>
                    <form action="/cotizacion/add/detalle/<%= id_cotizacion %>" method="post">
                        <div class="p-2">
                            <label for="" class="text-muted">Tipo de producto</label>
                            <select name="id_producto" class="form-control" id="">
                                <% productos.forEach(prd => { %>
                                    <option value="<%= prd.id %>"> <%= prd.tipo %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="p-2">
                            <label for="" class="text-muted">Dias pautados</label>
                            <input type="number"  class="form-control" name="dias_pautados">
                        </div>
                        <div class="p-2">
                            <label for="" class="text-muted">Fecha de inicio</label>
                            <input type="date"  value="" class="form-control" name="fecha_inicio">
                        </div>
                        <div class="p-2">
                            <label for="" class="text-muted">Fecha de finalizacion</label>
                            <input type="date" class="form-control" name="fecha_final">
                        </div>
                        <div class="p-2">
                            <label for=""  class="text-muted">Descripcion de detalle</label>
                            <textarea name="detalles" class="form-control" id="" cols="30" rows="4"></textarea>
                        </div>
    
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-6 py-2" id="test">
                                    <button type="submit" id="myBtn" class="btn btn-primary btn-block">Añadir detalle</button>
                                </div>
                                <div class="col-6 py-2">
                                    <button type="reset" class="btn btn-warning btn-block">Limpiar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%-include ('../partials/footer.ejs') %> 
