<%-include ('../partials/header.ejs') %> 
 
<div class="container-fluid align-content-center">
    <div class="row">
        <div class="container col-md-4 col-sm-12 mb-4">
            <div class="card shadow rounded">
                <div class="card-body">
                   <h1 class="p-3 mb-3 border-bottom">Editar usuario</h1>
                    <form action="/usuarios/upd/<%= data.id %> " method="post" class="border-bottom py-3">
                        <div class="p-2">
                            <label for="" class="text-muted">Nombre de usuario</label>
                            <input type="text" class="form-control" required name="nombre" placeholder="Nombre"  value="<%= data.nombre %>">
                        </div>
                        <div class="p-2">
                            <label for="" class="text-muted">Rol</label>
                            <select class="form-control" name="rol" id="">
                                <% if ( data.rol == 1) { %>
                                    <option value="0">Empleado</option>
                                    <option value="1" selected>Administrador</option>
                                <% } else { %>   
                                    <option value="0" selected>Empleado</option>
                                    <option value="1" >Administrador</option>
                                <% } %>
                            </select>
                        </div>  
                        <div class="p-2 text-center">
                            <button type="submit" class="btn btn-primary btn-lg">Actualizar</button>
                        </div>
                    </form>
                    <form action="/usuarios/upd_pwd/<%= data.id %> " method="post" class="py-2">
                        <h2>Cambiar contraseña</h2>
                        <div class="p-2">
                            <input type="password" id="pwd" class="form-control" required name="pwd" placeholder="Contraseña">
                        </div>
                        <div class="p-2">
                            <input type="password" id="pwd_val" class="form-control" required name="" placeholder="Confirmar Contraseña">
                            <div class="alert d-none" role="alert">
                                Las contraseñas deben coincidir!
                              </div>
                        </div>
                        <div class="p-2 text-center">
                            <button id="myBtn" type="submit" disabled class="btn btn-success btn-lg">Cambiar contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const pwd = document.getElementById('pwd')
    const pwd_val = document.getElementById('pwd_val')
    const save_Btn = document.getElementById('myBtn')

    pwd_val.addEventListener('change', () => {
        if(pwd_val.value == pwd.value){
            save_Btn.disabled = false
            document.querySelector('.alert').className = 'alert d-none alert-warning mt-2 p-2 rounded mb-0 '

        }
        else{
            save_Btn.disabled = true
            document.querySelector('.alert').className = 'alert alert-warning mt-2 p-2 rounded mb-0 '
            
        }
    })
</script>
<%-include ('../partials/footer.ejs') %> 
