<%-include ('../partials/header.ejs') %> 
<% message.forEach(msg => { %>
    <% if (msg.length > 0) { %>
        <div class="alert alert-success">
            <%= msg %> 
        </div>
    <% } %>
<% }) %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-sm-12 ">
            <div class="container ">
                <h1>Clientes Registrados</h1>
                <div class="container" style="overflow-y: auto; max-height: 30rem">
                    <table class="table table-responsive">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Tipo de cliente</th>
                            <th scope="col">Contacto</th>
                            <th scope="col">RUC</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Direccion</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                            <% if (data) { %>
                                <% for( let i = 0; i < data.length; i++ ) { %>
                                    <tr>
                                        <th scope="row"><%=data[i].id%></th>
                                        <td><%=data[i].nombre%></td>
                                        <td><%=data[i].tipo%></td>
                                        <td><%=data[i].contacto%></td>
                                        <td><%=data[i].ruc%></td>
                                        <td><%=data[i].telefono%></td>
                                        <td><%=data[i].correo%></td>
                                        <td><%=data[i].direccion%></td>
                                        <!-- <td><a href="/clientes/delete/<%=data[i].id%>" class="validar btn btn-danger">Borrar</a></td> -->
                                        <td><a href="/clientes/update/<%=data[i].id%>" class="validar btn btn-success">+info</a></td>
                                      </tr>
                                <% } %>
                            <% } else { %>
                                <section class="text-center"> <h2>No hay datos en la tabla</h2></section>
                                <% } %>
                        </tbody>
                      </table>
                </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
                <div class="container">
                    <div class="card shadow rounded">
                        <div class="card-body">
                            <form action="/clientes/add" method="post">
                                <div class="container">
                                    <h3>Insertar nuevo cliente</h3>
                                    <div class="p-2">
                                        <input type="text" class="form-control" required name="nombre" placeholder="Nombre">
                                    </div>
                                    <div class="p-2">
                                        <label for="" class="text-muted">Tipo de cliente</label>
                                        <select type="text" class="form-control" required name="tipo" placeholder="Tipo de cliente">
                                            <option value="Agencia">Agencia</option>
                                            <option value="Cliente directo">Cliente directo</option>
                                        </select>
                                    </div>
                                    <div class="p-2">
                                        <input type="text" class="form-control" required name="contacto" placeholder="Contacto">
                                    </div>
                                    <div class="p-2">
                                        <input type="text" class="form-control" name="ruc" placeholder="RUC">
                                    </div>
                                    <div class="p-2">
                                        <input type="text" class="form-control" name="telefono" placeholder="Telefono">
                                    </div>
                                    <div class="p-2">
                                        <input type="text" class="form-control" name="correo" placeholder="Correo">
                                    </div>
                                    <div class="p-2">
                                        <textarea type="text" class="form-control" name="direccion" placeholder="Direccion"></textarea>
                                    </div>
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-6 py-2" id="test">
                                                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                                            </div>
                                            <div class="col-6 py-2">
                                                <button type="reset" class="btn btn-danger btn-block">Limpiar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<script>


</script>

<%-include ('../partials/footer.ejs') %> 
