<%-include ('../partials/header.ejs') %> 

<div class="container-fluid px-4">
    <div class="">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h1>Usuarios</h1>
                <div class="container">
                    <table class="table table-responsive">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Contrase単a</th>
                            <th scope="col">Rol</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                            <% for( let i = 0; i < data.length; i++ ) { %>
                                <tr>    
                                  <th scope="row"> <%= data[i].id %></th>
                                  <td><%= data[i].nombre %></td>
                                  <td><%= data[i].pwd %></td>
                                  <td><%= data[i].rol %></td>
                                  <td><button class="btn btn-primary">Editar</button></td>
                                </tr>
                            <% } %>
                        </tbody>
                      </table>
                </div>
    
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
                <div class="container">
                    <div class="card shadow rounded">
                        <div class="card-body">
                            <form action="/usuarios/add" method="POST">
                                <div class="container">
                                    <h3>Insertar nuevo Usuarios</h3>
                                    <div class="p-2">
                                        <input type="text" class="form-control" required name="nombre" placeholder="Nombre de usuario">
                                    </div>
                                    <div class="p-2">
                                        <input type="password" id="pwd" class="form-control" required name="pwd" placeholder="Contrase単a">
                                    </div>
                                    <div class="p-2">
                                        <input type="password" id="pwd_val" class="form-control" required name="" placeholder="Repetir Contrase単a">
                                        <div class="alert d-none" role="alert">
                                            Las contrase単as deben coincidir!
                                          </div>
                                    </div>
                                    <div class="p-2">
                                        <label for="" class="text-muted">Rol</label>
                                        <select class="form-control" name="rol" id="">
                                            <option value="0">Empleado</option>
                                            <option value="1">Administrador</option>
                                        </select>
                                    </div>

                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-6 py-2" id="test">
                                                <button type="submit" id="myBtn" disabled class="btn btn-primary btn-block">Guardar</button>
                                            </div>
                                            <div class="col-6 py-2">
                                                <button type="reset" class="btn btn-danger btn-block">Limpiar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const pwd = document.getElementById('pwd')
    const pwd_val = document.getElementById('pwd_val')
    const save_Btn = document.getElementById('myBtn')

    pwd_val.addEventListener('change', () => {
        if(pwd_val.value == pwd.value){
            save_Btn.disabled = false
            document.querySelector('.alert').className = 'alert d-none alert-warning mt-2 p-2 rounded mb-0 '

        }
        else{
            save_Btn.disabled = true
            document.querySelector('.alert').className = 'alert alert-warning mt-2 p-2 rounded mb-0 '
            
        }
    })
</script>

<%-include ('../partials/footer.ejs') %> 